<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace必须要和Mapper接口的全类名保持一致-->
<mapper namespace="com.wfh.shopping.item.mapper.CategoryMapper">
    <resultMap id="categoryMap" type="categoryVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="children" column="{parentId=id}" select="searchCategories"/>
    </resultMap>
    <select id="searchCategories" resultMap="categoryMap">
        SELECT id,name FROM category WHERE parent_id = #{parentId} AND delete_flag = 0
    </select>
    <update id="deleteCategory">
        UPDATE category SET delete_flag = 1 WHERE delete_flag = 0 AND FIND_IN_SET(id,getChildrenIds(#{categoryId}))
    </update>
</mapper>